<h1 class="text-center my-4">Edit category name</h1>
<div class="container col-10">
  <%= render 'form' %>
</div>

<div class="text-center">
  <%= link_to '[ Cancel and return to category ]' , articles_path, class: "text-info" %>
</div>