<h1 class="text-center my-4">Create a new category</h1>
<div class="container col-10">
  <%= render 'form' %>
</div>

<div class="text-center">
  <%= link_to '[ Cancel and return to categories listing ]' , categories_path, class: "text-info" %>
</div>